*{
    margin: 0;
    padding: 0;
}
ul{list-style: none}
a {text-decoration: none}
em {
    font-style: normal;
}
// 
::selection {
    background-color: rgb(12, 165, 157);
    color: #fff;
}
html {
    font-size: 62.5%;
    color: #222;

}
body {
    font-size: 1.2rem;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
}
.clearfix {
   clear: both;
   zoom: 1;
}
